.gfkqw { 
  border-right-width: 69px;
  border-left-width: 70px;
  padding-right: 72px;
  border-right-width: 93px;
  font-size: 81px;
  margin-bottom: 0px;
  border-right-width: 56px;
  margin-left: 47px;
  border-top-width: 36px;
  margin-top: 75px;
  margin-left: 7px;
  margin-left: 69px;
  padding-top: 94px;
  border-bottom-width: 88px;
  border-left-width: 11px;
  border-bottom-width: 5px;
  padding-right: 19px;
  margin-right: 32px;
  padding-left: 59px;
  font-size: 38px;
  padding-top: 31px;
  padding-right: 53px;
  margin-right: 6px;
  border-left-width: 46px;
  border-bottom-width: 59px;
  border-right-width: 8px;
  border-top-width: 92px;
  margin-left: 8px;
  margin-top: 7px;
  line-height: 14px;
  line-height: 57px;
  margin-right: 75px;
  padding-bottom: 13px;
  margin-bottom: 86px;
  font-size: 20px;
  padding-right: 33px;
  border-top-width: 4px;
  border-top-width: 75px;
  padding-bottom: 53px;
  margin-right: 71px;
  border-left-width: 51px;
  padding-left: 73px;
  border-bottom-width: 69px;
  border-left-width: 5px;
  font-size: 57px;
  margin-top: 11px;
  margin-bottom: 35px;
  font-size: 2px;
  padding-left: 55px;
  margin-top: 64px;
  margin-right: 94px;
  border-right-width: 56px;
  padding-right: 29px;
  font-size: 59px;
  margin-top: 53px;
  font-size: 27px;
  line-height: 55px;
  padding-left: 95px;
  font-size: 93px;
  font-size: 65px;
  padding-left: 33px;
  margin-top: 58px;
  margin-right: 42px;
  margin-left: 4px;
  padding-right: 81px;
  border-right-width: 33px;
  margin-bottom: 77px;
  border-right-width: 88px;
  border-top-width: 45px;
  border-right-width: 74px;
}
