.gfkqw { 
  border-right-width: 69px;
  border-left-width: 70px;
  padding-right: 72px;
  border-right-width: 93px;
  font-size: 81px;
  margin-bottom: 0px;
  border-right-width: 56px;
  margin-left: 47px;
  border-top-width: 36px;
  margin-top: 75px;
  margin-left: 7px;
  margin-left: 69px;
  padding-top: 94px;
  border-bottom-width: 88px;
  border-left-width: 11px;
  border-bottom-width: 5px;
  padding-right: 19px;
  margin-right: 32px;
  padding-left: 59px;
  font-size: 38px;
  padding-top: 31px;
  padding-right: 53px;
  margin-right: 6px;
  border-left-width: 46px;
  border-bottom-width: 59px;
  border-right-width: 8px;
  border-top-width: 92px;
  margin-left: 8px;
  margin-top: 7px;
  line-height: 14px;
  line-height: 57px;
  margin-right: 75px;
  padding-bottom: 13px;
  margin-bottom: 86px;
  font-size: 20px;
  padding-right: 33px;
  border-top-width: 4px;
  border-top-width: 75px;
  padding-bottom: 53px;
  margin-right: 71px;
  border-left-width: 51px;
  padding-left: 73px;
  border-bottom-width: 69px;
  border-left-width: 5px;
  font-size: 57px;
  margin-top: 11px;
  margin-bottom: 35px;
  font-size: 2px;
  padding-left: 55px;
  margin-top: 64px;
  margin-right: 94px;
  border-right-width: 56px;
  padding-right: 29px;
  font-size: 59px;
  margin-top: 53px;
  font-size: 27px;
  line-height: 55px;
  padding-left: 95px;
  font-size: 93px;
  font-size: 65px;
  padding-left: 33px;
  margin-top: 58px;
  margin-right: 42px;
  margin-left: 4px;
  padding-right: 81px;
  border-right-width: 33px;
  margin-bottom: 77px;
  border-right-width: 88px;
  border-top-width: 45px;
  border-left-width: 61px;
  line-height: 69px;
  padding-left: 60px;
  margin-bottom: 31px;
  border-left-width: 23px;
  border-bottom-width: 98px;
  margin-right: 25px;
  padding-bottom: 24px;
  padding-bottom: 43px;
  margin-left: 29px;
  font-size: 95px;
  padding-top: 85px;
  border-left-width: 53px;
  padding-bottom: 22px;
  margin-bottom: 63px;
  padding-right: 4px;
  border-top-width: 1px;
  border-bottom-width: 93px;
  padding-top: 52px;
  border-top-width: 74px;
  margin-left: 85px;
  border-top-width: 76px;
  border-bottom-width: 35px;
  border-left-width: 57px;
  font-size: 7px;
  border-top-width: 12px;
  padding-top: 79px;
  padding-right: 23px;
  padding-right: 79px;
  padding-top: 71px;
  border-right-width: 14px;
  margin-right: 16px;
  padding-left: 87px;
  line-height: 28px;
  font-size: 79px;
  margin-bottom: 99px;
  margin-right: 10px;
  line-height: 64px;
  padding-right: 98px;
  border-top-width: 13px;
  padding-top: 97px;
  padding-bottom: 65px;
  border-right-width: 18px;
  line-height: 63px;
  line-height: 24px;
  line-height: 84px;
  line-height: 92px;
  border-left-width: 51px;
  margin-right: 8px;
  font-size: 5px;
  padding-right: 13px;
  padding-left: 20px;
  padding-bottom: 51px;
  margin-left: 24px;
  border-right-width: 72px;
  border-top-width: 28px;
  border-top-width: 97px;
}
