.gfkqw { 
  border-right-width: 69px;
  border-left-width: 70px;
  padding-right: 72px;
  border-right-width: 93px;
  font-size: 81px;
  margin-bottom: 0px;
  border-right-width: 56px;
  margin-left: 47px;
  border-top-width: 36px;
  margin-top: 75px;
  border-right-width: 64px;
}
